aiogram==2.21
asyncio==3.4.3
beautifulsoup4==4.11.1
lxml==4.9.0
schedule==1.1.0
emoji==2.0.0
fuzzywuzzy==0.18.0
fake-useragent==0.1.11
psycopg2==2.9.3
pyTelegramBotAPI==4.7.0
python-Levenshtein
requests==2.28.1